@font-face {
  font-family: "FuturaNo2D W03 Regular";
  src: url("fonts/1530819/fb371eee-920f-45f4-a243-428bed81c9ff.eot?#iefix");
  src: url("fonts/1530819/fb371eee-920f-45f4-a243-428bed81c9ff.eot?#iefix") format("eot"), url("fonts/1530819/6fa29c75-36d9-441b-8a82-a1ebb08b936d.woff2") format("woff2"), url("fonts/1530819/ca643cc6-3924-451a-8de9-b9989ba01bc4.woff") format("woff"), url("fonts/1530819/4bead669-11d0-47f6-917c-ec33d556ef10.ttf") format("truetype"); }
.current-page-link {
  color: red; }

html {
  font-size: 16px; }

body {
  color: #222;
  font-family: "FuturaNo2D W03 Regular"; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    body {
      font-size: 2em; } }

h1 {
  font-size: 3em;
  line-height: 0.1em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1em; }

p {
  font-size: 1.2em; }

.content {
  display: flex;
  align-items: center;
  justify-content: center; }

.top-nav {
  display: block;
  max-width: 800px;
  padding-top: 32px;
  height: 1.2em;
  font-size: 1.2em; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .top-nav {
      font-size: 1.4em;
      height: 3em; } }

.content-body {
  width: 80%;
  max-width: 800px; }

.hero-main {
  display: block; }

.singular-center {
  display: flex;
  display: -webkit-box;
  align-items: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center; }
  .singular-center img {
    width: 100%; }
  .singular-center video {
    width: 100%; }

.post-list ul a {
  color: #000;
  text-decoration: underline; }

.align-left {
  position: relative;
  float: left;
  margin: 0.3em 0em 0.3em 0em; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .align-left {
      position: static;
      float: none; } }

.align-right {
  position: relative;
  float: right;
  margin: 0.3em 0em 0.3em 0em; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .align-right {
      position: static;
      float: none; } }

.input-round-box {
  border-width: 1px;
  border-style: dashed;
  border-color: #222;
  border-radius: 5px;
  padding: 2px 4px 2px 4px;
  font-size: 0.8em; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .input-round-box {
      font-size: 1em; } }

.input-round-button {
  border-style: solid;
  border-color: #222;
  border-radius: 5px;
  padding: 2px 4px 2px 4px;
  font-size: 0.8em; }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .input-round-button {
      font-size: 1em; } }
